# 
.sass-cache/
_ignore
node_modules
bak/
config.rb
doc/
psd/
/www/upload/*
/www/event/*
*.log
*.zip
*.psd
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.sublime-project
*.sublime-workspace
*.sln
*.settings
*.cfg
*.bat
/www/[Ww]eb.config

*.sql
*.txt
[Ww]eb.config
[Gg]lobal.*
mng/
bin/
inc/

*.config
/dist
/bower_components